.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.card{
    position: relative;
    height: 380px;
    display: flex;
    align-items: flex-end;
}

.card .card-media{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.card .card-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    color: var(--color-white);
}