/* ==========================================================================
   carousel / component
   ========================================================================== */

.swiper {
    --size-pagination: 24px;
    --size-pagination-gap: 20px;

    margin: 0;
    width: 100%;
    position: relative;

    .swiper-pagination-bullets {
        --size-pagination: 24px;
        --size-pagination-gap: 10px;

        gap: var(--size-pagination-gap);
        display: flex;
        flex-direction: column;
        right: var(--spacing-sd);

        .swiper-pagination-bullet {
            border: 0px solid var(--color-black);
            background-color: var(--color-black);
            width: var(--size-pagination);
            height: var(--size-pagination);
            border-radius: 100%;
            opacity: 1;
            transition: all 0.3s ease-out;
            margin: 0;
        }

        .swiper-pagination-bullet-active {
            /*background: conic-gradient(red 0deg 90deg, transparent 90deg);
            animation: fill 1s linear forwards;

            @keyframes fill {
                from{
                    background: conic-gradient(red 0deg 90deg, transparent 90deg);
                }
                to {
                    background: conic-gradient(red 90deg 360deg, transparent 360deg);
                }
            }*/


            border: 12px solid var(--color-primary);
            background-color: var(--color-black);
        }
    }
}
