/* ==========================================================================
   form / component
   ========================================================================== */

.form {
    --input-padding: 16px;

    fieldset {
        border: none;
        padding: 0;
    }

    .grid {
        display: grid;
        gap: var(--spacing-md);
        grid-template-columns: 1fr;
    }

    .checkbox a {
        color: var(--color-primary);
        text-decoration: underline;
        transition: all 0.3s ease-out;

        &:hover {
            color: var(--color-secondary);
        }
    }

    .button {
        border: none;
        margin-top: var(--spacing-md);
    }
}

.formulaire_titre_section {
    text-align: left;

    .is-sent & {
        text-align: center;
        display: block;
    }
}

.form__footer {
    display: flex;
    justify-content: center;

    a {
        cursor: pointer;
    }
}

.form__body {
    .is-sent & {
        display: none;
    }
}

.form__confirmation {
    display: none;
    margin-top: 100px;

    h3 {
        font-weight: 700;
    }

    .is-sent & {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.u-grid-fullwidth {
    grid-column: -1 / 1;
}

/* --------- Input ---------- */

.input__label {
    display: block;
    font-weight: 700;
}

.input__element {
    border-radius: 30px;
    background-color: var(--color-bg-primary);
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: var(--input-padding);
    outline: none;
    width: 100%;
    color: var(--color-black);
    transition: all 0.3s ease-out;

    -webkit-text-fill-color: var(--color-black) !important;

    &:-webkit-autofill,
    &:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 4px var(--color-black) !important;
        -webkit-text-fill-color: inherit !important;
    }

    // hover
    &:hover,
    + .input__label:hover::before {
        transition: all 0.3s ease-out;
    }

    // focus
    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        background-color: var(--color-bg-primary);
        -webkit-box-shadow: inset 0 0 0 4px var(--color-black) !important;
    }

    // autocomplete
    &::placeholder {
        color: var(--color-primary);
        opacity: 0.6;
    }
}

#fullname{
    -webkit-box-shadow: inset 0 0 0 4px var(--color-primary);

    // focus
    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        background-color: var(--color-bg-primary);
        -webkit-box-shadow: inset 0 0 0 4px var(--color-black) !important;
    }

    &:hover,
    + .input__label:hover::before{
        background-color: var(--color-primary);
         background-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
        -webkit-box-shadow: inset 0 0 0 8px var(--color-primary) !important;
    }

}

#email{
    -webkit-box-shadow: inset 0 0 0 4px var(--color-secondary);

    // focus
    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        background-color: var(--color-bg-primary);
        -webkit-box-shadow: inset 0 0 0 4px var(--color-secondary) !important;
    }

    &:hover,
    + .input__label:hover::before{
        background-color: var(--color-black);
         background-color: color-mix(in srgb, var(--color-secondary) 20%, transparent);
        -webkit-box-shadow: inset 0 0 0 8px var(--color-secondary) !important;
    }
}

#comment{
    -webkit-box-shadow: inset 0 0 0 4px var(--color-tertiary);

    // focus
    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        background-color: var(--color-bg-primary);
        -webkit-box-shadow: inset 0 0 0 4px var(--color-tertiary) !important;
    }

    &:hover,
    + .input__label:hover::before{
        background-color: var(--color-black);
         background-color: color-mix(in srgb, var(--color-tertiary) 20%, transparent);
        -webkit-box-shadow: inset 0 0 0 8px var(--color-tertiary) !important;
    }
}

/* ---------- Textarea --------- */

.textarea {
    .input__element {
        resize: vertical;
        height: 200px;
    }
}

/* -------- Error --------- */

.error {
    position: relative;

    .input__element,
    &.checkbox .input__label::before,
    &.radio .input__label::before,
    .checkbox .input__label::before,
    .radio .input__label::before {
        box-shadow: inset 0 0 0 2px var(--color-primary);
    }
}

.input__error {
    margin-top: 5px;
    display: none;
    justify-content: center;
    color: var(--color-primary);
    font-size: 80%;
    font-weight: 700;

    .error & {
        display: flex;
    }
}

.input__error__radio {
    position: absolute;
    top: 100%;
}

// Pour l'icone du select
.error::after {
    top: 38% !important;
}
