/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #367bd5;
    --color-secondary: #265593;
    --color-tertiary: #4d6687;
    --color-bg-primary: #e2e2e2;
}
