/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Gantari', sans-serif;
    --font-secondary: 'Jockey One', sans-serif;

    --font-size-content: #{typo(16px, 20px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(24px, 50px)};
    --font-size-h3: #{typo(18px, 30px)};
}
