{% include '_partials/_header.html' %}

<section class="blog">
    <div class="wrapper">
        <div class="cards_blog">
            <div class="card_blog">
                <div class="card_media">
                    <img src="assets/images/hero-accueil.jpg">
                </div>

                <div class="card_content">
                    <h2>Nom article blogue</h2>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="card_blog">
                <div class="card_media">
                    <img src="assets/images/hero-accueil.jpg">
                </div>

                <div class="card_content">
                    <h2>Nom article blogue</h2>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="card_blog">
                <div class="card_media">
                    <img src="assets/images/hero-accueil.jpg">
                </div>

                <div class="card_content">
                    <h2>Nom article blogue</h2>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="card_blog">
                <div class="card_media">
                    <img src="assets/images/hero-accueil.jpg">
                </div>

                <div class="card_content">
                    <h2>Nom article blogue</h2>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="card_blog">
                <div class="card_media">
                    <img src="assets/images/hero-accueil.jpg">
                </div>

                <div class="card_content">
                    <h2>Nom article blogue</h2>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
            </div>

            <div class="card_blog">
                <div class="card_media">
                    <img src="assets/images/hero-accueil.jpg">
                </div>

                <div class="card_content">
                    <h2>Nom article blogue</h2>
                    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}