{% include '_partials/_header.html' %}

<section class="hero">
    <img src="assets/images/hero-accueil.jpg" alt="Outils" class="hero-media">
    <div class="wrapper">
        <div class="hero-content">
            <h1>RénoDino</h1>
            <h3>Pour les dinosaures de la rénovation</h3>
        </div>
    </div>
</section>

<section class="accueil-vedette">
    <div class="wrapper">
        <h2>Produits en vedette</h2>
        <div class="cards">
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/peinture1.jpg" alt="Peinture rouge">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h4>Peinture</h4>
                        <h2>Peinture rouge BEHR</h2>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/peinture1.jpg" alt="Peinture rouge">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h4>Peinture</h4>
                        <h2>Peinture rouge BEHR</h2>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/peinture1.jpg" alt="Peinture rouge">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h4>Peinture</h4>
                        <h2>Peinture rouge BEHR</h2>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/peinture1.jpg" alt="Peinture rouge">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h4>Peinture</h4>
                        <h2>Peinture rouge BEHR</h2>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/peinture1.jpg" alt="Peinture rouge">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h4>Peinture</h4>
                        <h2>Peinture rouge BEHR</h2>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="card">
                <div class="card-media">
                    <img src="assets/images/peinture1.jpg" alt="Peinture rouge">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h4>Peinture</h4>
                        <h2>Peinture rouge BEHR</h2>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
