{% include '_partials/_header.html' %}

<section class="hero">
    <img src="assets/images/hero-accueil.jpg" alt="Outils" class="hero-media">
    <div class="wrapper">
        <div class="hero-content">
            <h1>RénoDino</h1>
            <h3>Pour les dinosaures de la rénovation</h3>
        </div>
    </div>
</section>

<section class="accueil-vedette">
    <div class="wrapper">
        <h2>Produits en vedette</h2>

        <div class="cards">
            <a href="#"><div class="card">
                <div class="card-media">
                    <img src="assets/images/peinture1.jpg" alt="Peinture rouge">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h5>Peinture</h5>
                        <h3>Peinture rouge BEHR</h3>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div></a>
            
            <a href="#"><div class="card">
                <div class="card-media">
                    <img src="assets/images/plafond1.jpg" alt="Plafond flottant">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h5>Plafonier</h5>
                        <h3>Plafond flottant</h3>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div></a>

            <a href="#"><div class="card">
                <div class="card-media">
                    <img src="assets/images/armoire1.jpg" alt="Armoire de cuisine">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h5>Meublier</h5>
                        <h3>Armoire de cuisine</h3>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div></a>

            <a href="#"><div class="card">
                <div class="card-media">
                    <img src="assets/images/plancher1.jpg" alt="Tuiles en céramique">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h5>Plancher</h5>
                        <h3>Tuiles en céramique</h3>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div></a>

            <a href="#"><div class="card">
                <div class="card-media">
                    <img src="assets/images/thermo1.jpg" alt="Thermostat">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h5>Ventilation</h5>
                        <h3>Thermostat intelligent</h3>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div></a>

            <a href="#"><div class="card">
                <div class="card-media">
                    <img src="assets/images/douche1.jpg" alt="Douche">
                </div>
                <div class="card-content">
                    <div class="product">
                        <h5>Salle de bain</h5>
                        <h3>Douche en verre</h3>
                    </div>
                    <svg class="icon">
                        <use href="#icon-arrow"></use>
                    </svg>
                </div>
            </div></a>
        </div>
        
    </div>
</section>

{% include '_partials/_footer.html' %}
